{% extends "default.html" %}
{% import "macros_disqus.html" as disqus %}

{% block content %}
    <article role="article">
        <header>
            <h1 class="entry-title">{{ page.title }}</h1>
            <p class="post-meta">
                <span class="post-date">{{ page.date }}</span>
                <span class="post-author">by {{ site.author }}</span>
            </p>
        </header>
        {{ content|raw }}
        <footer>
          <p class="meta">
              Posted by <span class="author">{{ site.author }}</span>
              &mdash;
              <span class="date">{{ page.date }}&nbsp;{{ page.time }}</span>
              &mdash;
              {% if page.tags %}
                  <span class="post-tags">
                      {% for tag in page.tags %}
                      <a href="{{ pctagurl(tag) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
                      {% endfor %}
                  </span>
              {% endif %}
          </p>
          <div class="sharing">
          </div>
        </footer>
    </article>
    <section>
        <h1>Comments</h1>
        {{ disqus.commentthread("jqno") }}
    </section>
{% endblock %}
