{% if page.blog == "concerts" %}
  {% set current_blog = concerts %}
{% else %}
  {% set current_blog = post %}
{% endif %}

{% macro cloud(collection, lower_threshold, upper_threshold) %}
  <div style="text-align: justify">
  {% for tag in collection %}
    {% set c = tag.post_count %}
    {% if c < lower_threshold %}
      {% set element = "80%" %}
    {% elseif c < upper_threshold %}
      {% set element = "100%" %}
    {% else %}
      {% set element = "130%" %}
    {% endif %}
    <span style="font-size: {{element}}"><a href="{{ pctagurl(tag) }}">{{ tag }}</a></span>&nbsp;({{ c }})
  {% endfor %}
  </div>
{% endmacro %}

<section>
  <h1>Tags</h1>
  {% import _self as s %}
  {{ s.cloud(current_blog.tags, current_blog.tagcloud_lower, current_blog.tagcloud_upper) }}
</section>
<section>
  {{ s.cloud(current_blog.categories, current_blog.catcloud_lower, current_blog.catcloud_upper) }}
</section>
