---
title: Concerts
layout: blog
format: none
blog: concerts
---

<article>
  <header>
    <p class="meta">
      {% for post in concerts.posts %}
        <strong><a href="{{ post.url }}">{{ post.title }}</a></strong>
        &mdash;
        <span class="post-date">
          {{ post.date|date("D, d F Y") }}
          {% if post.category %}
            , at <a href="{{ pccaturl(post.category) }}">{{ post.category }}</a>
          {% endif %}
          {% if not loop.last %}<br>{% endif %}
        </span>
      {% endfor %}
    </p>
  </header>
</article>
