---
title: Concerts
layout: blog
format: none
blog: concerts
---
{% set year = -1 %}
<article>
  <h1>Concerts by date</h1>
  {% for post in concerts.posts %}
    {% if post.date|date("Y") != year %}
      {% set year = post.date|date("Y") %}
      {% if not loop.first %}<br>{% endif %}
      <h2>{{ year }}</h2>
    {% endif %}
    <header class="list">
      <p class="meta">
        <strong><a href="{{ post.url }}">{{ post.title }}</a></strong>
        &mdash;
        <span class="post-date">
          {{ post.date|date("D, d F Y") }}
          {% if post.category %}
            , at <a href="{{ pccaturl(post.category) }}">{{ post.category }}</a>
          {% endif %}
        </span>
      </p>
    </header>
  {% endfor %}
</article>
