---
title: Error messages
blog: equalsverifier
layout: equalsverifier
datum: 2013-06-05
---
<article role="article">
<p> Did EqualsVerifier give an error message that you didn't understand? I do what I can, but unfortunately Java stacktraces leave little room for explanation. This page should help make sense of some of EqualsVerifier's error messages.</p>

<p>This is not a complete list. I'll add to it as needed, so if you need help with an error message, please file an issue in the Issue tracker or let me know on the discussion group, and I'll add an explanation as soon as possible.</p>

<div id="blog-archives">
  {% for post in equalsverifier.posts %}
    {% include 'partial_list_equalsverifier.html' %}
  {% endfor %}
</div>
</article>
