{% import "macros_google.html" as google %}
{% import "macros_settings.html" as settings %}

{% include "head.html" %}

<body>
  <header role="banner">
    <hgroup>
      <h1><a href="{% block home_url %}{{ site.root }}{% endblock %}">{{ settings.either(blogs[page.blog].title, site.title) }}</a></h1>
      <h2>{{ settings.either(blogs[page.blog].description, site.description) }}</h2>
    </hgroup>
  </header>
  <nav role="navigation">
    {% block navigation %}
      {{ navigation|raw }}
    {% endblock %}
  </nav>
  <div id="main">
    <div id="content">
      <div class="blog-index">
        {% block content %}
          <article>
            {{ content|raw }}
          </article>
        {% endblock %}
      </div>
      <aside class="sidebar">
        {% block sidebar %}
          {{ sidebar|raw }}
        {% endblock %}
      </aside>
    </div>
  </div>
  <footer role="contentinfo">
    {% block footer %}
      <p>{{ piecrust.branding|raw }}</p>
    {% endblock %}
  </footer>
  {{ piecrust.debug_info|raw }}
  {{ google.analytics(settings.either(blogs[page.blog].analytics, site.analytics)) }}
  {% block appendix %}
    {{ appendix|raw }}
  {% endblock %}
</body>
</html>
